@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #000000;
}

body {
  background-color: #f3f4f6;
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Estilo para que el fondo de la web sea el gris claro de Sixt */
html, body {
  height: 100%;
}